# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [1]:
import pandas as pd
import requests
import numpy as np

pd.set_option('float_format', '{:.2f}'.format)
pd.set_option('display.max_colwidth', None)
# pd.set_option('display.precision', 2)
#pd.reset_option('^display.', silent=True)

# 1) seu código aqui
sinasc = pd.read_csv('/media/diegosantos/Windows/ebac/DNOPEN23.csv', sep=';')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

/tmp/ipykernel_4303/1862660934.py:11: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  sinasc = pd.read_csv('/media/diegosantos/Windows/ebac/DNOPEN23.csv', sep=';')

(986593, 62)

(986593, 62)

In [2]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = 100

In [3]:
# 2) seu código aqui
# sinasc.describe()
sinasc.isna().sum()

contador           0
ORIGEM             0
CODESTAB        8086
CODMUNNASC         0
LOCNASC            0
IDADEMAE           6
ESTCIVMAE       4207
ESCMAE          4526
CODOCUPMAE     72346
QTDFILVIVO     16154
QTDFILMORT     23131
CODMUNRES          0
GESTACAO        9418
GRAVIDEZ        1033
PARTO            826
CONSULTAS       1792
DTNASC             0
HORANASC         552
SEXO               0
APGAR1          9552
APGAR5          9529
RACACOR        18807
PESO              81
IDANOMAL        5374
DTCADASTRO         0
CODANOMAL     977945
NUMEROLOTE       440
VERSAOSIST       444
DTRECEBIM        439
DIFDATA            0
OPORT_DN           0
DTRECORIGA         0
NATURALMAE     17475
CODMUNNATU     17475
CODUFNATU      17475
ESCMAE2010     10600
SERIESCMAE    348284
DTNASCMAE       7460
RACACORMAE     23132
QTDGESTANT     18964
QTDPARTNOR     23472
QTDPARTCES     25702
IDADEPAI      648576
DTULTMENST    520971
SEMAGESTAC      9498
TPMETESTIM      9498
CONSPRENAT     14575
MESPRENAT      20485
TPAPRESENT      8481
STTRABPART     11556
STCESPARTO     13338
TPNASCASSI      7407
TPFUNCRESP     26619
TPDOCRESP       6159
DTDECLARAC     11081
ESCMAEAGR1     10600
STDNEPIDEM         1
STDNNOVA           0
CODPAISRES         7
TPROBSON           0
PARIDADE           0
KOTELCHUCK         0
dtype: int64

In [4]:
# 3) seu código aqui
sinasc_interesse = sinasc[['LOCNASC','IDADEMAE','ESTCIVMAE','QTDFILVIVO','GESTACAO','GRAVIDEZ','CONSULTAS','APGAR5']]
sinasc_interesse.isna().sum()

LOCNASC           0
IDADEMAE          6
ESTCIVMAE      4207
QTDFILVIVO    16154
GESTACAO       9418
GRAVIDEZ       1033
CONSULTAS      1792
APGAR5         9529
dtype: int64

In [5]:
# 4) seu código aqui
print(sinasc_interesse.APGAR5.shape)
sinasc_interesse.dropna(subset=['APGAR5'], inplace=True)

(986593,)

/tmp/ipykernel_4303/2422808992.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.dropna(subset=['APGAR5'], inplace=True)

In [6]:
# 5) seu código aqui
print(sinasc_interesse.ESTCIVMAE.unique())
print(sinasc_interesse.CONSULTAS.unique())
sinasc_interesse.ESTCIVMAE.replace(9, np.nan, inplace=True)
sinasc_interesse.CONSULTAS.replace(9, np.nan, inplace=True)
sinasc_interesse.dropna(subset=['ESTCIVMAE', 'CONSULTAS'], inplace=True)

[ 2.  1.  5.  3.  4.  9. nan]
[ 4.  3.  2.  1.  9. nan]

/tmp/ipykernel_4303/365954909.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.ESTCIVMAE.replace(9, np.nan, inplace=True)
/tmp/ipykernel_4303/365954909.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.CONSULTAS.replace(9, np.nan, inplace=True)
/tmp/ipykernel_4303/365954909.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.dropna(subset=['ESTCIVMAE', 'CONSULTAS'], inplace=True)

In [7]:
# 6) Seu código aqui
print(sinasc_interesse.QTDFILVIVO.isna().sum())
sinasc_interesse.QTDFILVIVO.fillna(0, inplace=True)

15353

/tmp/ipykernel_4303/1972283121.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.QTDFILVIVO.fillna(0, inplace=True)

In [8]:
# 7) seu código aqui
print(sinasc_interesse.isna().sum())
# Tendo em vista que esse dado se refere a uma variável categórica e não numérica acho interessante num primeiro
# momento remover as linhas que são nulas, e tentar rodar um modelo sobre os dados caso a acertividade do mesmo 
# seja baixa pode-se optar por buscar outra formas de preencher esses valores faltantes, tais como verificar qual
# valor apareceu mais nessa coluna e preencher com ele.
sinasc_interesse.GESTACAO.value_counts()
sinasc_interesse.GESTACAO.replace(9, np.nan, inplace=True)
sinasc_interesse.GRAVIDEZ.value_counts()
sinasc_interesse.GRAVIDEZ.replace(9, np.nan, inplace=True)
sinasc_interesse.dropna(subset=['GESTACAO', 'GRAVIDEZ'], inplace=True)

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
QTDFILVIVO       0
GESTACAO      8362
GRAVIDEZ       935
CONSULTAS        0
APGAR5           0
dtype: int64

/tmp/ipykernel_4303/846963560.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.GESTACAO.replace(9, np.nan, inplace=True)
/tmp/ipykernel_4303/846963560.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.GRAVIDEZ.replace(9, np.nan, inplace=True)
/tmp/ipykernel_4303/846963560.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse.dropna(subset=['GESTACAO', 'GRAVIDEZ'], inplace=True)

In [15]:
# 8) seu código aqui
sinasc_interesse['CAT_APGAR5'] = np.where(sinasc_interesse.APGAR5 > 7, 'normal',
                                         np.where(sinasc_interesse.APGAR5 > 5, 'asfixia leve',
                                                 np.where(sinasc_interesse.APGAR5 > 3, 'asfixia moderada', 'asfixia severa')))

sinasc_interesse.CAT_APGAR5.value_counts()

/tmp/ipykernel_4303/3656441229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_interesse['CAT_APGAR5'] = np.where(sinasc_interesse.APGAR5 > 7, 'normal',

CAT_APGAR5
normal              936110
asfixia leve         13996
asfixia severa        3336
asfixia moderada      3006
Name: count, dtype: int64

In [16]:
# 9) seu código aqui
sinasc_interesse.columns = ['loc_nasc','idade_mae','est_civ_mae','qtd_fil_vivo','gestacao','gravidez','consultas','apgar5','cat_apgar5']

In [17]:
sinasc_interesse

,loc_nasc,idade_mae,est_civ_mae,qtd_fil_vivo,gestacao,gravidez,consultas,apgar5,cat_apgar5
0,1,32.00,2.00,3.00,5.00,1.00,4.00,9.00,normal
1,1,18.00,1.00,0.00,4.00,1.00,4.00,9.00,normal
2,1,15.00,5.00,0.00,3.00,1.00,3.00,4.00,asfixia moderada
3,1,32.00,2.00,1.00,5.00,1.00,4.00,9.00,normal
4,1,27.00,1.00,0.00,5.00,1.00,4.00,9.00,normal
...,...,...,...,...,...,...,...,...,...
986588,1,21.00,1.00,0.00,4.00,1.00,3.00,7.00,asfixia leve
986589,1,34.00,1.00,2.00,5.00,1.00,4.00,9.00,normal
986590,1,32.00,1.00,0.00,5.00,1.00,4.00,9.00,normal
986591,1,33.00,1.00,2.00,4.00,1.00,4.00,7.00,asfixia leve
986592,1,15.00,1.00,0.00,5.00,1.00,3.00,9.00,normal